<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!--配置一个单例的bean-->
    <bean name="singleton_hello" class="entities.HelloWorld" scope="singleton" init-method="initMethod"
    >
        <constructor-arg index="0" value="这是一个单例的bean"></constructor-arg>
    </bean>

    <!--这是一个原型模式的Bean-->
    <bean name="prototype_hello" class="entities.HelloWorld" scope="prototype" init-method="initMethod"
    >
        <constructor-arg index="0" value="这是一个原型模式的bean"></constructor-arg>
    </bean>

</beans>
